<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <app-destacado [title]="'Politicas de privacidad'"
            [text]="''"
            [image]="'assets/images/suitex/hombre-unidormes.png'" />
    </div>
</div>
<!-- End Hero Section -->

<div class="why-choose-section">
    <div class="container">
        <h1 style="color: black;">Política de Privacidad de Suitex</h1>
        <br/>
        <div class="row justify-content-between align-items-center">
                <h2 class="section-title">Recopilación de Datos Personales</h2>
                <p>En Suitex, nos tomamos en serio la privacidad de nuestros visitantes y clientes. A continuación, detallamos qué información recopilamos y cómo la utilizamos:</p>
                <p style="color: black;">1-<b>Información de Contacto:</b> Cuando te comunicas con nosotros a través de formularios de contacto o correos electrónicos, recopilamos tu nombre, dirección de correo electrónico y cualquier otra información que proporciones voluntariamente.</p>
                <p style="color: black;">2-<b>Datos de Navegación:</b> Utilizamos cookies y herramientas de análisis para recopilar datos sobre tu navegación en nuestro sitio web. Esto incluye información sobre tu ubicación, dispositivo, navegador y páginas visitadas..</p>
                <h2 class="section-title">Uso de Datos Personales</h2>
                <p>Utilizamos la información recopilada para los siguientes fines:</p>
                <p style="color: black;"><b>-Comunicación:</b> Para responder a tus consultas y proporcionarte información sobre nuestros productos y servicios.</p>
                <p style="color: black;"><b>-Mejora del Sitio Web:</b> Analizamos los datos de navegación para optimizar la experiencia del usuario y mejorar nuestro sitio web.</p>

                <h2 class="section-title">Seguridad y Almacenamiento</h2>
                <p>Protegemos tus datos personales mediante medidas de seguridad técnicas y organizativas. No compartimos tu información con terceros sin tu consentimiento.</p>

                <h2 class="section-title">Tus Derechos</h2>
                <p>Tienes derecho a acceder, corregir o eliminar tus datos personales. Si deseas ejercer estos derechos o tienes alguna pregunta sobre nuestra política de privacidad, contáctanos.</p>
        </div>
    </div>
</div>