<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">

        <div class="sofa-img">
            <img src="assets/images/suitex/uniformados.png" alt="Image" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center"><span class="me-1"><img
                                src="assets/images/envelope-outline.svg" alt="Image"
                                class="img-fluid"></span><span>Suscribirse</span></h3>
                    <form action="#" class="row g-3" [formGroup]="validateForm" (ngSubmit)="submitForm()">
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Ingrese su email" formControlName="correo">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Suitex<span>.</span></a></div>
                <p class="mb-4">Puntualidad: Entregamos a tiempo. : Honestidad: Trabajamos con transparencia. : Calidad: Nuestros uniformes destacan en diseño y durabilidad.</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="https://www.facebook.com/" target="_blank"><span
                                class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><span class="fa fa-brands fa-twitter"></span></a>
                    </li>
                    <li><a href="https://www.instagram.com/" target="_blank"><span
                                class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="https://github.com/" target="_blank"><span class="fa fa-brands fa-linkedin"></span></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a [routerLink]="'/about'" (click)="posicionInicial()">Sobre nosotros</a></li>
                            <li><a [routerLink]="'/services'" (click)="posicionInicial()">Servicios</a></li>
                            <li><a [routerLink]="'/contact'" (click)="posicionInicial()">Contactos</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a [routerLink]="'/contact'" (click)="posicionInicial()">Soporte</a></li>
                            <li><a [routerLink]="'/bases'" (click)="posicionInicial()">Base y condiciones</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Empleos</a></li>
                            <li><a href="#">Nuestro equipo</a></li>
                            <li><a [routerLink]="'/politica'" (click)="posicionInicial()">Política de privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;
                        <a id="current-year"></a>. All Rights Reserved. 
                    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a [routerLink]="'/bases'" (click)="posicionInicial()">Terms &amp; Conditions</a></li>
                        <li><a [routerLink]="'/politica'" (click)="posicionInicial()">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->