<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <app-destacado [title]="'Elaboración de uniformes empresariales'"
            [text]="'Confeccionamos uniformes de alta calidad para tu equipo de trabajo. Desde trajes formales hasta cómodos uniformes escolares, nuestros diseños se adaptan a tus necesidades. Descubre la elegancia y funcionalidad de nuestros productos.'"
            [image]="'assets/images/suitex/hombre-unidormes.png'" />
    </div>
</div>
<!-- End Hero Section -->
<!-- Start Product Section -->
<app-prod-destacado></app-prod-destacado>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<app-pqelegirnos></app-pqelegirnos>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="assets/images/suitex/chica-uniforme.jpg" alt="Untree.co"></div>
                    <div class="grid grid-2"><img src="assets/images/suitex/chica-uniforme2.jpg" alt="Untree.co"></div>
                    <div class="grid grid-3"><img src="assets/images/suitex/hombre-uniformado.jpg" alt="Untree.co">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">Te ayudamos a escoger tu estilo.</h2>
                <p>Brindamos asesoramiento para diseñar el estilo que mas sea acorde a tu negocio.</p>
                <p>Aquí algunos de nuestros principios.</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Comunicación fuerte.</li>
                    <li>Calidad y durabilidad.</li>
                    <li>Autoconciencia.</li>
                    <li>Integridad</li>
                    <li>Confianza</li>
                    <li>Dedicación</li>
                    <li>Relaciones comerciales a largo plazo.</li>
                </ul>
                <p><a herf="#" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->

<!--app-testimonials></app-testimonials-->

<!-- Start Blog Section -->
<!--app-blogs></app-blogs-->
<!-- End Blog Section -->