#myInput {
    background-image: url('/css/searchicon.png'); /* Agrega un ícono de búsqueda al input */
    background-position: 10px 12px; /* Posición del ícono de búsqueda */
    background-repeat: no-repeat; /* No repetir la imagen del ícono */
    width: 100%; /* Ancho completo */
    font-size: 16px; /* Aumenta el tamaño de fuente */
    padding: 12px 20px 12px 40px; /* Agrega un poco de espacio alrededor del input */
    border: 1px solid #ddd; /* Agrega un borde gris */
    margin-bottom: 12px; /* Espacio debajo del input */
  }
  
  #myUL {
    list-style-type: none; /* Elimina la viñeta de la lista */
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
  }