<div class="hero">
    <div class="container">
        <app-destacado [title]="'Tienda'"
            [text]="'Toda la información disponible puede ser meramente referencial, por lo que se requerira de su ayuda para definir el tipo de telas y medidas para los uniformes de sus empleados.'" />
    </div>
</div>
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row" style="margin: 30px;">
            <input  type="text" id="myInput" [(ngModel)]="searchText" (keyup)="filteredItems()" placeholder="Filtrar...">
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 mb-5" *ngFor="let data of datosBuscados">
                <a class="product-item" href="{{data.href}}" target="_blank">
                    <img src="{{data.image}}" class="img-fluid product-thumbnail" width="{{data.size}}">
                    <h3 class="product-title">{{data.name}}</h3>
                    <div *ngFor="let det of data.detail">
                        {{det}}
                    </div>
                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>