<div class="hero">
    <div class="container">
        <app-destacado [title]="'Tienda'"
        [text]="'Toda la información disponible puede ser meramente referencial, por lo que se requerira de su ayuda para definir el tipo de telas y medidas para los uniformes de sus empleados.'"
        />
    </div>
</div>
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
          <div class="row">
              <!-- Start Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/988def_4f7024f126e54f5fb296d0148547a2c2~mv2.webp" class="img-fluid product-thumbnail" width="320">
                    <h3 class="product-title">Pantalon clasico para caballero</h3>
                    <strong class="product-price">Gs 100.000</strong>
                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div> 
            <!-- End Column 1 -->
                
            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/CAMISA-BIG.png" class="img-fluid product-thumbnail" width="200">
                    <h3 class="product-title">Camisa Dama</h3>
                    <strong class="product-price">gs 110.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div> 
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/camisa-roja.png" class="img-fluid product-thumbnail" width="200">
                    <h3 class="product-title">Camisa Caballero</h3>
                    <strong class="product-price">Gs 130.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/camisa1.webp" class="img-fluid product-thumbnail" width="300">
                    <h3 class="product-title">Camisa clasica para Caballero</h3>
                    <strong class="product-price">$100.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->


            <!-- Start Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/chaqueta-remera.webp" class="img-fluid product-thumbnail" >
                    <h3 class="product-title">Conjunto chaqueta remera</h3>
                    <strong class="product-price">Gs 250.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div> 
            <!-- End Column 1 -->
                
            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/Diseno-sin-titulo-14-2-1024x486.png" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Conjunto 3 en 1</h3>
                    <strong class="product-price">Gs 190.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div> 
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/hombre-unidormes.png" class="img-fluid product-thumbnail" width="200">
                    <h3 class="product-title">Camisa manga corta</h3>
                    <strong class="product-price">Gs 120.000</strong>
                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 3 -->
            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/indutex-150.webp" class="img-fluid product-thumbnail" width="200">
                    <h3 class="product-title">Camisa reflectiva</h3>
                    <strong class="product-price">Gs 140.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->
            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/mameluco-ropa-de-trabajo-fabinco-laboral.webp" class="img-fluid product-thumbnail" width="200">
                    <h3 class="product-title">Mameluco</h3>
                    <strong class="product-price">Gs 150.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/uniformes-corp-blusa-blanca-clasica.png" class="img-fluid product-thumbnail" width="200">
                    <h3 class="product-title">Camisa clasica de Dama</h3>
                    <strong class="product-price">Gs 110.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/uniformes-corp-camisa-blancorayas.png" class="img-fluid product-thumbnail" width="200">
                    <h3 class="product-title">Camisa clasica masculina</h3>
                    <strong class="product-price">Gs 100.000</strong>
                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->
            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5">
                <a class="product-item" href="https://wa.me/595993645127" target="_blank">
                    <img src="assets/images/suitex/uniformes-reflectivos-santo-domingo.png" class="img-fluid product-thumbnail" width="200">
                    <h3 class="product-title">Uniformes pesados</h3>
                    <strong class="product-price">Gs 350.000</strong>

                    <span class="icon-cross">
                        <img src="assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->
            
          </div>
    </div>
</div>
