<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <app-destacado [title]="'Bases y Condiciones de servicio Suitex'"
            [text]="''"
            [image]="'assets/images/suitex/hombre-unidormes.png'" />
    </div>
</div>
<!-- End Hero Section -->
<div class="why-choose-section">
    <div class="container">
        <h1 style="color: black;">Bases y Condiciones</h1>
        <br/>
        <div class="row justify-content-between align-items-center">
                <h2 class="section-title">1. Definición de Términos</h2>
                <p>Suitex: Refiere a la empresa de fabricación de uniformes empresariales.</p>
                <p>Cliente: Cualquier entidad o individuo que adquiera productos de Suitex.</p>
                
                <h2 class="section-title">2. Pedidos y Entrega</h2>
                <p>Los clientes pueden realizar pedidos a través de nuestro sitio web, por teléfono o en persona.</p>
                <p>Los plazos de entrega se acordarán con cada cliente según la cantidad y especificaciones del pedido.</p>

                <h2 class="section-title">3. Diseño y Personalización</h2>
                <p>Suitex ofrece opciones de personalización, como bordados, estampados y colores específicos.</p>
                <p>Los clientes deben proporcionar detalles precisos sobre el diseño deseado.</p>

                <h2 class="section-title">4. Pago y Facturación</h2>
                <p>Los precios se establecerán previamente y se indicarán en la cotización.</p>
                <p>Los pagos pueden realizarse en efectivo, mediante transferencia bancaria o tarjeta de crédito.</p>

                <h2 class="section-title">5. Cambios y Devoluciones</h2>
                <p>Los clientes pueden solicitar cambios o devoluciones dentro de los 7 días posteriores a la entrega.</p>
                <p>Los productos personalizados no son reembolsables, a menos que haya defectos de fabricación.</p>

                <h2 class="section-title">6. Responsabilidad</h2>
                <p>Suitex se compromete a entregar productos de alta calidad.</p>
                <p>No nos responsabilizamos por daños causados por el uso inadecuado de los uniformes.</p>

                <h2 class="section-title">7. Privacidad</h2>
                <p>Los datos personales de los clientes se manejarán de acuerdo con las leyes de privacidad aplicables.</p>

                <h2 class="section-title">8. Contacto</h2>
                <p>Para consultas o asistencia, los clientes pueden comunicarse con nuestro equipo de atención al cliente.</p>
        </div>
    </div>
</div>