<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <app-destacado [title]="'Servicios'"
        [text]="'.'"
        [image]="'assets/images/suitex/hombre-unidormes.png'" />
    </div>
</div>
<!-- End Hero Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row my-5">
            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/truck.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Envío Rápido</h3>
                    <p>Llegamos a todo el país en tiempo récord.</p>
                    <p>Entrega puntual y seguimiento en línea.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/bag.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Fácil de Comprar</h3>
                    <p>Múltiples plataformas de compra: sitio web, redes sociales y tiendas físicas.</p>
                    <p>Toda la información sobre nuestros productos disponible en un clic.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/support.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Soporte 24/7</h3>
                    <p>Estamos disponibles en cualquier momento para atender urgencias.</p>
                    <p>Contáctanos por teléfono, chat o correo electrónico.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/return.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Devoluciones sin Complicaciones</h3>
                    <p>Mecanismos de negociación para resolver cualquier disgusto.</p>
                    <p>Proceso sencillo y sin trabas burocráticas.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/truck.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Calidad Garantizada</h3>
                    <p>Nos comprometemos a ofrecer productos de alta calidad.</p>
                    <p>Si no estás satisfecho, te reembolsamos o reemplazamos el artículo.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/bag.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Personalización Avanzada</h3>
                    <p>Más allá de bordados, ofrecemos opciones de diseño completamente personalizado.</p>
                    <p>Trabajamos estrechamente con los clientes para crear uniformes únicos.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="assets/images/support.svg" alt="Image" class="imf-fluid">
                    </div>
                    <h3>Programa de Lealtad</h3>
                    <p>Ofrecemos descuentos y beneficios a clientes frecuentes.</p>
                    <p>Acumula puntos por cada compra.</p>
                </div>
            </div>
        </div>
    
    </div>
</div>
<!-- Start Product Section -->
<app-prod-destacado></app-prod-destacado>
<!-- End Product Section -->

