
<!-- Start Testimonial Slider -->
<div class="testimonial-section" style="margin: 10px;background-color: #EAEAEA; border-radius: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Testimonials</h2>
            </div>
        </div>
    </div>
    <!-- End Testimonial Slider -->
<ngb-carousel >
    <ng-template ngbSlide>
        <div class="item">
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto">
                    <div class="testimonial-block text-center">
                        <blockquote class="mb-5">
                            <p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
                        </blockquote>
                        <div class="author-info">
                            <div class="author-pic">
                                <img src="assets/images/person-1.png" alt="Maria Jones" class="img-fluid">
                            </div>
                            <h3 class="font-weight-bold">Maria Jones1</h3>
                            <p >CEO, Co-Founder, XYZ Inc.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </ng-template>
    <ng-template ngbSlide>
        <div class="item">
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto">

                    <div class="testimonial-block text-center">
                        <blockquote class="mb-5">
                            <p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
                        </blockquote>

                        <div class="author-info">
                            <div class="author-pic">
                                <img src="assets/images/person-1.png" alt="Maria Jones" class="img-fluid">
                            </div>
                            <h3 class="font-weight-bold">Maria Jones1</h3>
                            <p>CEO, Co-Founder, XYZ Inc.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </ng-template>
    <ng-template ngbSlide>
        <div class="item">
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto">
                    <div class="testimonial-block text-center">
                        <blockquote class="mb-5">
                            <p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
                        </blockquote>
                        <div class="author-info">
                            <div class="author-pic">
                                <img src="assets/images/person-1.png" alt="Maria Jones" class="img-fluid">
                            </div>
                            <h3 class="font-weight-bold">Maria Jones1</h3>
                            <p >CEO, Co-Founder, XYZ Inc.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </ng-template>
</ngb-carousel>
</div>
