
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <h2 class="section-title">Por qué elegirnos!</h2>
                <p>En Suitex, la excelencia es nuestra insignia. ¿Por qué elegirnos? Porque somos más que costuras y telas: somos puntualidad, honestidad y calidad. Nuestros uniformes no solo visten, sino que también proyectan profesionalismo y confianza. Únete a la experiencia Suitex y destaca en estilo y servicio.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Envíos rápidos</h3>
                            <p>Llegamos a todos los rincones del pais.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fácil de comprar</h3>
                            <p>Disponemos de catalogos digitales con toda la información necesaria para realizar tus pedidos.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Soporte 24/7</h3>
                            <p>En casos de urgencia estaremos disponibles a toda hora.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="assets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Devoluciones sin complicaciones</h3>
                            <p>En caso de que ocurrra poseemos mecanismos para negociar devoluciones en caso de ser necesarias.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="assets/images/suitex/ladoña.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>